{% extends "base.html" %}
{% load static %}
{% block title %}<title>Моя компания | Jobseeker</title>{% endblock %}
{% block container %}

  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-8 offset-lg-2">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <!-- Tab -->
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Информация о&nbsp;компании</h2>

              <form action="/echo">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="companyName">Название компании</label>
                      {% if user.company %}
                      <input class="form-control" type="text" value="{{user.company.name}}" id="companyName">
                      {% else %}
                      <input class="form-control" type="text" value="" id="companyName">
                      {% endif%}
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label class="mb-2 text-dark" for="companyLogo">Логотип</label>
                      <div class="row align-items-center">
                        <div class="col-6">
                          {% if user.company %}
                          <img src="{{user.company.logo.url}}" alt="" style="max-width: 120px;height: auto;">
                          {% else %}
                          <img src="https://place-hold.it/120x40" alt="" style="max-width: 120px;height: auto;">
                          {% endif%}
                        </div>
                        <div class="col-6" style="position: relative;">
                          <div class="input-group-prepend" style="position: absolute; top: 0;right: 15px;">
                            <span class="btn btn-info px-4">Загрузить</span>
                          </div>
                          <div class="custom-file" style="">
                            <input type="file" class="custom-file-input" id="inputGroupFile01">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="companyTeam">Количество человек в компании</label>
                      {% if user.company %}
                      <input class="form-control" type="text" value="{{user.company.employee_count}}" id="companyTeam">
                      {% else %}
                      <input class="form-control" type="text" value="" id="companyTeam">
                      {% endif%}
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="companyLocation">География</label>
                      {% if user.company %}
                      <input class="form-control" type="text" value="{{user.company.location}}" id="companyLocation">
                      {% else %}
                      <input class="form-control" type="text" value="" id="companyLocation">
                      {% endif%}
                    </div>
                  </div>
                </div>
                <div class="form-group pb-2">
                  <label class="mb-2 text-dark" for="companyInfo">Информация о&nbsp;компании</label>
                  {% if user.company %}
                  <textarea class="form-control" rows="4" id="companyInfo" style="color:#000;"> {{user.company.description}}</textarea>
                  {% else %}
                  <textarea class="form-control" rows="4" id="companyInfo" style="color:#000;"></textarea>
                  {% endif%}
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-info" value="Сохранить">
                </div>
              </form>
            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}