{% extends "base.html" %}
{% load static %}
{% block title %}<title>Создать карточку компании | Jobseeker</title>{% endblock %}
{% block container %}

    {% if not user.company %}
     <section class="col-12 col-lg-6 offset-lg-3 mt-5 card">
      <div class="card-body px-3 pb-4">
        <h1 class="h4 pt-2">Моя компания</h1>
        <p class="mt-2">Пока мы думаем, что вы – частное лицо. Хотите создать карточку компании, разместить информаию и вакансии?</p>
        <a href="{%url 'mycompany/edit'%}" class="btn btn-info mb-2">Создать карточку компании</a>
      </div>
      {% else %}
       <section class="col-12 col-lg-8 offset-lg-2 mt-5 card">
      <div class="card my-3">
            <div class="card-body mx-4">
              <div class="col">
                <div class="row">
                  <h2 class="col-9 h2 pb-2">{{company.name}}</h2>
                  <img class="col-3" src={{user.company.logo.url}} width="180" height="80">
                </div>
                <p>Город: {{company.location}}</p>
                <div class="row">
                  <p class="col-7">Вакансий: {{company.vacancies.all|length}}</p>
                  <a class="col-5 pl-4" href="{% url 'vacancy/create' %}"><button class=" mb-2 btn btn-info text-light">Новая вакансия</button></a>
                </div>
                <div class="row">
                  <p class="col-7">Сотрудников: {{company.employee_count}}</p>
                  <a class="col-5" href="{% url 'mycompany/edit' %}"><button class=" mb-2 btn btn-info text-light">Редактировать компанию</button></a>
                </div>
              </div>
            </div>
          </div>
       </section>
           {% if company.vacancies.all|length > 0 %}
                {% for vac in company.vacancies.all %}
                 <div class=" mt-3 card offset-lg-3 col-lg-6 mb-3">
                    <div class="card-body mx-4">
                      <div class="col">
                          <h2 class="h4 pb-2">{{vac.title}}</h2>
                          <p>Заявок:<strong> {{vac.applications.all|length}}</strong></p>
                          <div class="row">
                              <p class="col-9  text-muted pt-1">{{vac.published_at}}</p>
                              <a class="col-1" href="{% url 'vacancy/edit' vac.id %}"><button class="mt-2 mb-0 btn btn-info text-light">Открыть</button></a>
                          </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
           {% endif %}
    {% endif %}

  </main>

{% endblock %}