{% extends "base.html" %}
{% load static %}
{% block title %}<title>Вакансии компании | Jobseeker</title>{% endblock %}
{% block container %}

      <div class="col-12 col-lg-8 offset-lg-2">
        <div class="card">
          <div class="card-body px-4 pb-4 tab-content">
            <!-- Tab -->
            <section>
              <h2 class="h4 pt-2 pb-3">{{vacancy.title}}</h2>
              {% if is_updated %}
                <p class="alert alert-info" role="alert">Вакансия сохранена!</p>
              {% endif %}
              <form action="" method="post">{% csrf_token %}
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="vacancyTitle">Название вакансии</label>
                      {{form.title}}
                      {{form.title.errors}}
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                        <label class="mb-2 text-dark" for="userSpecialization">Специализация</label>
                        {{form.speciality}}
                      {{form.speciality.errors}}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="vacancySalaryMin">Зарплата от</label>
                      {{form.salary_min}}
                      {{form.salary_min.errors}}
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2" for="vacancySalaryMax">Зарплата до</label>
                      {{form.salary_max}}
                      {{form.salary_max.errors}}
                    </div>
                  </div>
                </div>
                <div class="form-group pb-2">
                  <label class="mb-2 text-dark" for="vacancySkills">Требуемые навыки</label>
                  {{form.skills}}
                  {{form.skills.errors}}
                </div>
                <div class="form-group pb-2">
                  <label class="mb-2 text-dark" for="vacancyDescription">Описание вакансии</label>
                  {{form.description}}
                  {{form.description.errors}}
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-info" value="Сохранить">
                </div>
              </form>
            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}